nav {
  padding-left: 4rem;
  padding-right: 4rem;
  align-items: center;
}

.cv {
  border-color: #333d29;
  border-width: 1px;
  border-radius: 3rem;
}

// .cv:hover {
//   width: 147.17px;
//   height: 63px;
// }
